<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>게시글 작성</h1><br>
    <form action="/api/insert" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="textarea" name="contents" placeholder="contents">
        <input type="submit">
    </form>
</body>
</html>