<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/css/agency.min.css" rel="stylesheet">
</head>
<body>




    <div class="container center_div">    
        <h1>게시글 작성</h1><br>
        <form action="/api/insert" method="POST">
            <input type="text" class="form-control" name="title" placeholder="Title"><br />
              <div class="form-group">
                <textarea name="contents" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Contents"></textarea>
              </div>
            <input type="submit" value="작성">
        </form>
    </div>




<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="/javascripts/jqBootstrapValidation.js"></script>
<script src="/javascripts/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/agency.min.js"></script>
</body>
</html>